<ion-content padding class="background">
  <form (ngSubmit)="login()">
      <ion-grid fixed>

        <ion-row>
          <ion-col style="text-align: center; margin-top:20%">
            <img src="/assets/imagenes/pga.png" class="logo">
          </ion-col>
        </ion-row>
      
        <ion-row class="campos formulario">
          <ion-col>
            
              <ion-list>
                
                <ion-item style="font-size:1.5em; text-align: center">
                  <ion-label>Usuario</ion-label>
                  <ion-input name="usuario"
                              type="text"
                             [(ngModel)]="account.usuario"
                              required></ion-input>
                </ion-item>

                <ion-item style="font-size:1.5em; text-align: center">
                  <ion-label>Password</ion-label>
                  <ion-input name="password"
                              type="password"
                              [(ngModel)]="account.password"
                              required></ion-input>
                </ion-item>

              </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="formulario">
                    <ion-col>
            <ion-button type="submit"
                        color="primary"
                        shape="round"
                        size="large"
                        expand="block"
                        style="font-size:1.5em">
              Login
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>

</ion-content>
