<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="menu()">
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
      </ion-buttons>
      <ion-title>
       MANTENIMIENTO
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
<ion-list>
  <ion-item>
      <ion-card  (click)="reset()" color="tertiary" style="width: 100%;">
          <ion-card-content>
              <ion-row>
                <ion-col style="text-align:center; color:white">
                    <ion-icon name="construct" style="font-size: 40px"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col style="text-align:center; color:white">
                      <h3>INCIALIZAR</h3>
                      <p>Reset de la app</p>
                  </ion-col>
                </ion-row>
            </ion-card-content>
          </ion-card>  
   
  </ion-item>

  <ion-item>
      <ion-card  (click)="descarga()" color="secondary" style="width: 100%;">
          <ion-card-content>
              <ion-row>
                <ion-col style="text-align:center; color:white">
                    <ion-icon name="clipboard" style="font-size: 40px"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col style="text-align:center; color:white">
                      <h3>CARGA DATOS</h3>
                      <p>Se guardan los datos(parcelas, plantas, usuarios) en el dispositivo</p>
                  </ion-col>
                </ion-row>
            </ion-card-content>
          </ion-card>  
      
        
    </ion-item>

     

      
</ion-list>
          
  

</ion-content>
